@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Limelight&family=Rye&family=Vast+Shadow&display=swap');
:root
{
	--blue: #010a25;
	--yellow: #d1b229;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	overflow-x: hidden;
}
header
{
	height: 100vh;
	background: url('img/header-bg.png');
	background-size: cover;
	background-position: center;
}
header, header .wedding-wrapper,
header .wedding-wrapper .wedding,
header .wedding-wrapper .wedding div,
.event .card-wrapper
{
	display: flex;
	justify-content: center;
	align-items: center;
}
header .wedding-wrapper
{
	width: 800px;
	height: 400px;
	background: rgba(1, 10, 37, 0.9);
	border-radius: 20px;
}
header .wedding-wrapper .wedding
{
	width: 762px;
	height: 360px;
	flex-direction: column;
	font-family: 'Vast Shadow', cursive;
	border: 2px solid var(--yellow);
	border-radius: 10px;
}
header .wedding-wrapper .wedding div
{
	margin: 14px 0 4px;
}
header .wedding-wrapper .wedding div h2
{
	font-size: 30px;
}
header .wedding-wrapper .wedding h2
{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 50px;
	color: #fff;
	margin: 0 10px;
}
header .wedding-wrapper .wedding div img:last-child
{
	transform: rotate(180deg);
}
header .wedding-wrapper .wedding h1
{
	font-family: 'Rye', cursive;
	font-weight: 400;
	font-size: 100px;
	color: var(--yellow);
}
header .wedding-wrapper .wedding img:last-child
{
	margin-top: 14px;
}
.main
{
	position: relative;
	background: var(--blue);
	padding: 160px 0 180px;
}
.main .countdown-time
{
	width: 100%;
	position: absolute;
	top: -75px;
	display: flex;
	justify-content: center;
	gap: 40px;
}
.main .countdown-time .box
{
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--yellow);
	border-radius: 10px;
}
.main .countdown-time .box h1
{
	font-family: 'Limelight', cursive;
	font-weight: 400;
	font-size: 70px;
}
.main .countdown-time .box h1,
.main .countdown-time .box h2
{
	color: var(--blue);
}
.main .countdown-time .box h2
{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
}
.main .content, .main .content .couple-wrapper .couple,
.event .card-wrapper .card
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main .content h2
{
	width: 500px;
	font-family: 'Limelight', cursive;
	font-weight: 400;
	font-size: 35px;
	text-align: center;
	color: #fff;
	margin-bottom: 24px;
}
.main .content p
{
	width: 900px;
	font-family: 'Josefin Sans', sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	color: #fff;
	margin: 48px 0 34px;
}
.main .content .couple-wrapper
{
	display: flex;
	gap: 120px;
}
.main .content .couple-wrapper .couple h1
{
	font-family: 'Rye', cursive;
	font-weight: 400;
	font-size: 60px;
	color: #fff;
	margin: 12px 0 4px;
}
.main .content .couple-wrapper .couple p
{
	width: 260px;
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
	color: var(--yellow);
	margin: unset;
}
.event
{
	padding: 100px 0 86px;
}
.event .card-wrapper
{
	gap: 60px;
}
.event .card-wrapper .card img
{
	border: 1px solid #d1b229;
	border-radius: 14px;
	padding: 10px;
}
.event .card-wrapper .card h1
{
	font-family: 'Limelight', cursive;
	font-weight: 400;
	font-size: 40px;
	color: var(--blue);
}
.event .card-wrapper .card p
{
	text-align: center;
}