@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Limelight&family=Rye&family=Vast+Shadow&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	overflow-x: hidden;
}
header
{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('img/header-bg.png');
	background-size: cover;
	background-position: center;
}
header .wedding-wrapper
{
	width: 800px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(1, 10, 37, 0.9);
	border-radius: 20px;
}
header .wedding-wrapper .wedding
{
	width: 762px;
	height: 360px;
	border: 2px solid #d1b229;
	border-radius: 10px;
}